* {
    margin: 0;
}

body {
    text-align: center;
    background-color: bisque;
    font-family: 'Cairo', sans-serif;
}

.btn-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    margin: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}

.button span {
    display: inline-block;
    padding: 20px 25px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover span {
    cursor: pointer;
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus, .button.loading {
    -webkit-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span, .button.loading span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.undo {
    position: absolute;
    top: 75px;
    cursor: pointer;
    color: #c5376d;
}

#film-name {
    color: #ec528d;
    text-decoration: none;
    font-size: 25px;
    direction: rtl;
}

#film-year {
    color: #ec528d;
}

footer {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(239, 95, 150, 0.8);
    bottom: 0;
}

footer p {
    margin-top: 10px;
    color: #ffffff;
}

footer p a {
    color: #ffffff;
}

.report-sending {
    direction: rtl;
    color: coral;
}

.report-sent {
    color: green;
}

.report-block {
    width: 700px;
    border-radius: 30px;
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px auto;
    padding: 10px;
    position: relative;

}

.report-block .film-name {
    color: #ec528d;
    font-weight: normal;
    font-size: 20px;
    direction: rtl;
}
.report-block .film-name a{
    color: #ec528d;
    text-decoration: none;
}
.report-block .film-year {
    color: #ec528d;
    font-weight: normal;
    font-size: 12px;
}
.report-block .film-year .rounded-label{
    cursor: pointer;
    z-index: 100;
    position: relative;
}
.btn-left, .btn-right {
    width: 50%;
    bottom: 15px;
    position: absolute;
}

.btn {
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ec528d;
    color: white;
    border: none;
    font-family: 'Cairo', sans-serif;
}

.btn-left button {
    background-color: black;
    color: white;
}

.btn-left {
    left: 25px;
    text-align: left;
}

.btn-right {
    right: 25px;
    text-align: right;
}

input.password {
    padding: 10px;
    width: 200px;
    height: 20px;
    font-size: 15px;
}

.login {
    margin-top: 20px;
}

.rounded-label {
    font-size: 13px;
    color: white;
    background-color: black;
    padding: 0 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.no-films{
    margin-top:200px ;
}

@media (max-width: 770px) {
    .report-block {
        width: 450px;
    }
}

@media (max-width: 450px) {
    .report-block {
        width: 80%;
        min-height: 200px;
    }
}